.news__item {
  border-radius: 20px;
  border: 1px solid grey;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
}

.news__item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.news__item-title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin: 0;
}

.news__item-body {
  text-align: left;
}

.news__item-tags {
  display: flex;
  gap: 10px;
}

.news__item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.news__item-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
