.news {
}

.news__container {
  padding: 20px;
  max-width: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.news__add-post {
  align-self: flex-start;
  margin-bottom: 20px;
}

.news__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
